.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(35, 41, 51);
  color:white;
}

.nav-links {
  width: 70%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}